<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantillaAyudasMaterialesInstitucion :: head">
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body style="background-color: #212226">
                    <header th:replace="layout/plantillaAyudasMaterialesInstitucion :: header">

                    </header>
                    <h3 class="card-title" style=" justify-content: space-evenly; display: flex;
                        color: white; padding-top: 2%;"><u>Ayudas pendientes de aprobación</u></h3>
                    <div style="justify-content: space-evenly; padding-top: 1%; display: flex;">
                        <br>
                            <table class="table" style="width: 80%;  justify-content: space-evenly; background-color: white;">
                                <thead>
                                    <tr>
                                        <th scope="col"># Solicitud</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Ubicación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Jacob@djhsuids.com</td>
                                        <td>San Jose</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <br>
                        <button type="button" style="background-color: #15CDCB; justify-content: space-evenly; display: flex;" class="btn btn-primary btn-lg" onclick="location.href = '/menuAyudas'">Enviar</button>
                        <br>

                            <table class="table" style="width: 80%;  justify-content: space-evenly; background-color: white;">
                                <thead>
                                    <tr>
                                        <th scope="col"># Solicitud</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Ubicación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Jacob@djhsuids.com</td>
                                        <td>San Jose</td>
                                    </tr>
                                </tbody>
                            </table> 

                            </body>
                            </html>
