<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantillaAyudasEducativasUsuario :: head">
        <title>Inicio</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body style="background-color: #212226">
                    <header th:replace="layout/plantillaAyudasEducativasUsuario :: header">

                    </header>
                    <div style="justify-content: left; padding-left: 4%; padding-top: 2%; display: flex;" >
                        <button type="button" style="background-color: #15CDCB;" class="btn btn-primary btn-lg" onclick="location.href = '/menuAyudas'" >
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                          </svg>
                        </button>
                     </div>
                    

                    <div style="justify-content: center; display: flex" >

                        <div style="justify-content: center; display: flex; padding-top: 7%;" class="btn-group-vertical">
                                <form th:action="@{/registroAyuda/guardar}" th:object="${ayudas}" method="POST" class="was-validated"
                              enctype="multipart/form-data">
                                    <label for="formGroupExampleInput" style="color: white">Tipo de ayuda</label>
                                    <div class="mb-3">
                                    <select name="id_tipo_ayuda" 
                                            class="form-select" 
                                            aria-label="Default select example">
                                        <option th:each="tipoAyuda : ${tiposAyudas}" th:value="${tipoAyuda.idTipoAyuda}" th:text="${tipoAyuda.descripcion}">
                                        </option>
                                    </select>
                                    </div>
                                    <br>
                                    <label for="formGroupExampleInput" style="color: white">Modalidad</label>
                                    <div class="mb-3">
                                    <select name="id_modalidad" 
                                            class="form-select" 
                                            aria-label="Default select example">
                                        <option th:each="modalidad : ${modalidades}" th:value="${modalidad.idModalidad}" th:text="${modalidad.descripcion}">
                                        </option>
                                    </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Dirección</label>
                                        <input name="ubicacion" type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
                                    <br>   
                                    <div class="form-group">
                                        <label style="color: white">Fecha de entrega</label>
                                        <br>
                                            <input type="date" name="fecha" class="form-control" data-date-format="yyyy/mm/dd">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label style="color: white">Descripción</label>
                                        <br>
                                            <textarea name="descripcion" rows="4" cols="50" class="form-control" id="formGroupExampleInput" aria-describedby="emailHelp"></textarea>
                                    </div>
                                    <br>
                                    <br>
                                    <br>  
                                    <button type="submit" style="background-color: #15CDCB;" class="btn btn-primary btn-lg" >Registrar</button>
                                </form>
                               
                                <br>
                                    </div>
                                    </div>

                                    </body>
                                    </html>
