<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantillaBecasCursosUsuario :: head">
        <title>Inicio</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body style="background-color: #212226">
                    <header th:replace="layout/plantillaBecasCursosUsuario :: header">

                    </header>
                    
                    <div style="justify-content: center; display: flex" >

                        <div style="justify-content: center; display: flex; padding-top: 7%;" class="btn-group-vertical">
                            <br>
                                <form>
                                    <label for="formGroupExampleInput" style="color: white">Cursos y becas disponibles</label>
                                    <div class="mb-3">
                                    <label for="idCategoria">[[#{producto.categoria}]]</label>
                                    <select name="categoria.idCategoria" 
                                            class="form-select" 
                                            aria-label="Default select example">
                                        <option th:each="c : ${categorias}" th:value="${c.idCategoria}" th:text="${c.descripcion}">
                                        </option>
                                    </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Modalidad</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Ubicación</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
                                    <br>   
                                    <div class="form-group">
                                        <label style="color: white">Fecha de inicio</label>
                                        <br>
                                        <input type="text" class="form-control" id="formGroupExampleInput" aria-describedby="emailHelp">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Nombre completo</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Identificación</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
   
                                    <br>
                                    <br>  
                                </form>
                                <button type="button" style="background-color: #15CDCB;" class="btn btn-primary btn-lg" onclick="location.href = '/menuAyudas'">Aplicar</button>
                                <br>
                                    </div>
                                    </div>

                                    </body>
                                    </html>
