<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>IMAS App</title>
        <meta charset="UTF-8">
            <!-- Boodstrap -->
            <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
            <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body style="background-color: #212226; min-height: 100vh; display: flex; flex-direction: column">
        <header th:replace="layout/plantillaMenuAyudasUsuario :: header">

        </header>
        <h3 class="card-title" style=" justify-content: center; display: flex; color: white; padding-top: 2%;"><u>Nueva solicitud</u></h3>
        <div style="justify-content: space-evenly; padding-top: 1%; display: flex;">
             
            <div style="width: 18rem; "></div>
             
            <div class="card" style="width: 18rem; background-color: #15CDCB">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/1212963041/vector/books-in-box-cardboard-cartoon-flat-illustration-vector-isolated-in-white-background.jpg?s=612x612&w=0&k=20&c=5ox3EZnEecmUcQ5hWghRLqIIKZR5MfeMJozhFoQdsLo="  height="250px" alt="Card image cap"/>
                <div class="card-body">
                  <h5 class="card-title" style="color:white; ">Ayudas</h5>
                  <a href="#" class="btn btn-primary" style="background-color: #3F54D1;" onclick="location.href = '/formularioAyuda/formulario'">Aplicar ayuda</a>
                </div>
              </div>
             
             <div style="width: 18rem; "></div>
             
        </div>
        
        <h3 class="card-title" style=" justify-content: center; display: flex; color: white; padding-top: 2%;"><u>Solicitudes enviadas</u></h3>
        <div style="justify-content: space-evenly; padding-top: 1%; display: flex;">
             
            <div style="width: 18rem; "></div>
             
            <div class="card" style="width: 18rem; background-color: #15CDCB">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/931376794/vector/isometric-box-with-books-isolated.jpg?s=170667a&w=0&k=20&c=OfIGRrTOJG4zOKA1GxsYZaz8t1ELizZd2zL-eYekNz4=" height="250px" alt="Card image cap"/>
                <div class="card-body">
                  <h5 class="card-title" style="color:white;">Mis Solicitudes</h5>
                  <a href="#" class="btn btn-primary" style="background-color: #3F54D1;" onclick="location.href = '/misSolicitudes/consultar'">Ver más</a>
                </div>
              </div>
             
             <div style="width: 18rem; "></div>
             
        </div>
    <footer th:replace="layout/plantillaMenuAyudasUsuario :: footer" style="margin-top: auto">


    </footer>
    </body>
 </html>
